<!--
STYLES
-->
<style>
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  nav {
    background-color: lightgray;
  }
</style>
<!--
WRAPPER
-->
<section>
  <!--
  NAVIGATION
  -->
  <nav>
    <div class="container">
      <h1>Publit</h1>
      <a href="">Hjälp</a>
      <a href="">Hem</a>
      <a href="">Blogg</a>
      <a href="">Logga in</a>
    </div>
  </nav>
  <!--
  CONTENT
  -->
  <section class="container">
    <!--
    How to
    -->
    <div class="row">
      <div class="col-sm-12">
        <h2>Du skriver boken, vi sköter resten!</h2>
      </div>
      <div class="col-sm-4">
        <h3>Ladda upp din färdiga bok</h3>
        Du kan välja att ladda upp din bok som tryckt bok, ebok eller ljudbok!
        <button>Läs mer</button>
      </div>
      <div class="col-sm-4">
        <h3>Välj vart du vill sälja din bok</h3>
        Publicera din bok hos någon av våra populära återförsäljare,
        öppna din egen webb-bokhandel eller beställ hem din bok själv!
        <button>Läs mer</button>
      </div>
      <div class="col-sm-4">
        <h3>Publicera!</h3>
        När du tryckt på publicera-knappen så ser till att din bok automatiskt 
        dyker upp på valda försäljningskanaler.
        När någon köper din bok så ser vi till att boken trycks och transporteras
        eller skickas elektroniskt direkt till din slutkund!
        <button>Läs mer</button>
      </div>
    </div>
    <!--
    Prices
    -->
    <div class="row">
      <div class="col-sm-12">
        <h2>Priser</h2>
      </div>
      <div class="col-sm-4">
        <h3>Standard - 0 kr / månaden</h3>
        <ul>
          <li>Din egen webb-bokhandel</li>
          <li>Kataloghantering av böcker</li>
          <li>Statistikverktyg</li>
          <li>Tryckning av böcker*</li>
          <li>Publicering av böcker*</li>
          *Avgift tillkommer
        </ul>
        <button>Läs mer</button>
      </div>
      <div class="col-sm-4">
        <h3>Avancerad - 500 kr / månaden</h3>
        <ul>
          <li>Avancerat statistikverktyg</li>
          <li>Avancerad kataloghantering av böcker</li>
          <li>Kampanjverktyg</li>
          <li>Support</li>
        </ul>
        <button>Läs mer</button>
      </div>
    </div>
  </section>
  <!--
  FOOTER
  -->
  <footer>
  </footer>
</section>